/**
 * #.# Styles
 *
 * CSS for Frontend.
 */

.kt-counter-up.full-width {
	width: 100% !important;
	max-width: none !important;
}

.kt-counter-up.not-full-width {
	max-width: 58rem;
    width: calc(100% - 4rem);
    margin: auto;
}

.kt-counter-up {

	.kt-counter-up-container {
		display: flex;

		.kt-counter-number {
			word-break: break-word;
		}

		@for $i from 1 through 8 {
			&[data-columns-xs="#{ $i }"] .kt-counter-up-content {
				width: (100% / #{ $i });
			}
		}
		@media (min-width: 543px) {
			@for $i from 1 through 8 {
				&[data-columns-sm="#{ $i }"] .kt-counter-up-content {
					width: (100% / #{ $i });
				}
			}
		}
		@media (min-width: 768px) {
			@for $i from 1 through 8 {
				&[data-columns-md="#{ $i }"] .kt-counter-up-content {
					width: (100% / #{ $i });
				}
			}
		}
		@media (min-width: 992px) {
			@for $i from 1 through 8 {
				&[data-columns-lg="#{ $i }"] .kt-counter-up-content {
					width: (100% / #{ $i });
				}
			}
		}
		@media (min-width: 1200px) {
			@for $i from 1 through 8 {
				&[data-columns-xl="#{ $i }"] .kt-counter-up-content {
					width: (100% / #{ $i });
				}
			}
		}
		@media (min-width: 1500px) {
			@for $i from 1 through 8 {
				&[data-columns-xxl="#{ $i }"] .kt-counter-up-content {
					width: (100% / #{ $i });
				}
			}
		}
	}
}
